
	div{ 
	width: 50%;
	float: left;
}
	h1{ 
		color: blue;
		font: ;
		 }
	p{
		margin-top: 50px;
		font-style: none;
	}
	p, ul, ol{ 
		color: green;
		 }
		img { 
			width: 100%;
			height: 40%;
		 }

		 #heading { 
		 	font-size: 50px;
		  }
		  .paragraph {
		  	font-size: 30px;
		  	font-style: italic;
		  }
		  div ul li{
		  	background-color: red;
		  }
